@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<ol>
    <li>
        Dane osobowe wykorzystywane są w celu:
        <ul>
            <li>rejestracji konta i weryfikacji tożsamości Użytkownika,</li>
            <li>umożliwienia logowania do Serwisu,</li>
            <li>realizacji umowy dotyczącej usług i e-usług,</li>
            <li>komunikacji z Użytkownikiem</li>
            <li>personalizacji Serwisu dla Użytkowników,</li>
            <li>działań analitycznych i statystycznych,</li>
            <li>windykacji należności.</li>
        </ul>
    </li>
    <li>Podanie danych jest dobrowolne, ale niezbędne do zawarcia umowy albo skorzystania z innych funkcjonalności Serwisu.</li>
</ol>